<nav class="level">
    <div class="level-left">
        <div class="level-item">
            <a id="email-feedback" href="" target="_blank" title="Send me some feedback">
                📧  Feedback</a>
        </div>
        <div class="level-item">
            <a id="tweet-at" href="" target="_blank" title="Tweet at me">🐦 @patleeman</a>
        </div>
        <div class="level-item">
            <a id="share-with" href="" target="_blank" title="Share this post">🐦 Share</a>
        </div>
        <div class="level-item">
            <a id="share-with" href="https://patricklee.nyc/s/$short_link$" target="_blank" title="Short Link">🔗 Link</a>
        </div>
    </div>
</nav>
