@charset "utf-8";
@import "./variables.scss";
@import "./node_modules/bulma/bulma.sass";

pre,
code {
  background-color: $bg-blue-dusty;
  color: $text;
}

.content {
  blockquote {
    border-color: $green;
    font-style: italic;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $family-serif;

  }
}


.main {
  // Kick the footer down below the page fold
  min-height: 80vh;
}

.container {
  // Make it easier to read content.
  max-width: 800px !important;
}

/* Navbar */
.navbar {
  // Match the content max-width
  max-width: 800px;
  margin: 0 auto;

  .nav-logo {
    font-weight: 800;
    font-size: 2em;
  }

  * {
    font-family: $family-serif;
  }
}

.hero {
  .title {
    font-size: $size-1;
  }

  .subtitle {
    font-size: $size-4;
  }
}

.navbar-menu {
  box-shadow: none;
}

.bg-squares {
  background:
    linear-gradient(135deg, #0000 20.5%, #193549 0 29.5%, #0000 0) 0 5px,
    linear-gradient(45deg, #0000 8%, #193549 0 17%, #0000 0 58%) 10px 0,
    linear-gradient(135deg, #0000 8%, #193549 0 17%, #0000 0 58%, #193549 0 67%, #0000 0),
    linear-gradient(45deg, #0000 8%, #193549 0 17%, #0000 0 58%, #193549 0 67%, #0000 0 83%, #193549 0 92%, #0000 0),
    #35434d;
  background-size: 20px 20px;
}

/* Hero */
.hero {
  .title-box {
    padding: 1rem;
    border-radius: 4px;
    width: fit-content;
    margin: 0 auto;
  }
}

.tag a {
  color: $white;
}

.table {
  background-color: inherit;
}

.date strong {
  color: $grey;
}

/* Footer */
.logo img {
  max-height: 32px;
}

/* RSS Icon */
.rss-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}