<html lang="en">
  {% include "layouts/header.liquid" %}

  <body>
    {% include "layouts/nav.liquid" %}

    <section class="section main">
      <div class="container">
        <div class="content centered-404">
          <h1>Page Not Found</h1>
          <img
            class="is-align-items-center"
            src="https://media.giphy.com/media/Z1BTGhofioRxK/giphy.gif"
            style="width:100%" />
          <p class="centered">{{ content }}</p>
        </div>
      </div>
    </section>

    {% include "layouts/footer.liquid" %}

    {% include "layouts/scripts.liquid" %}
  </body>
</html>