---
layout: layouts/base.liquid
title: ""
description: ""
date: "2023-01-01"
---
{% include "layouts/hero.liquid" %}

<section class="section main">
  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>
</section>