---
layout: layouts/base.liquid
---
<section class="section main">
  <div class="container">
    {% if date %}
      <div class="date">
        <p class="is-7">
          <strong>{{ page.date | postDate }}</strong>
        </p>
      </div>
    {% endif %}

    <div class="content">
      {{ content }}
    </div>

    <div class="tags">
      {% for tag in tags %}
        {% if tag != 'post' %}
          <span class="tag is-info">
            <a href="/tags/{{tag}}">{{ tag }}</a>
          </span>
        {% endif %}
      {% endfor %}
    </div>

    <div class="">
      {% include "layouts/social-share.liquid" %}
    </div>
  </div>
</section>