<footer class="footer">
  <div class="content has-text-centered">
    <span class="logo">
      <a href="https://github.com/patleeman" target="_blank">
        <img src="/public/github.png" alt="Github" />
      </a>
    </span>
    <span class="logo">
      <a href="https://www.linkedin.com/in/patrickleenyc/" target="_blank">
        <img src="/public/linkedin.png" alt="Linkedin" />
      </a>
    </span>
    <span class="logo">
      <a
        href="https://patricklee.nyc/rss.xml"
        target="_blank"
        title="RSS feed">
        <img
          src="/public/rss.png"
          alt="RSS feed"
          class="rss-icon" />
      </a>
    </span>
  </div>

  <div class="content has-text-centered">
    <a target="_blank" href="https://github.com/patleeman/patricklee.nyc">Lazily built with 💻.</a>
  </div>

  <div class="content has-text-centered">© 2021-2022 Patrick Lee</div>
</footer>