<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Primary Meta Tags -->
  <title>Patrick Lee | {{ title }}</title>
  <meta name="description" content="{{ description }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://patricklee.nyc">
  <meta property="og:title" content="Patrick Lee — Software Engineer">
  <meta property="og:description" content="I'm passionate about the intersection between marketing, experimentation, and software engineering.">
  <meta property="og:image" content="/public/patrick-card.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://patricklee.nyc">
  <meta property="twitter:title" content="Patrick Lee — Software Engineer">
  <meta property="twitter:description" content="I'm passionate about the intersection between marketing, experimentation, and software engineering.">
  <meta property="twitter:image" content="/public/patrick-card.jpg">

  <link rel="canonical" href="https://patricklee.nyc" />

  <!-- Icons -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/public/apple-touch-icon.png">
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/public/favicon-32x32.png">
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/public/favicon-16x16.png">
  <link rel="manifest" href="/public/site.webmanifest">
  <link
    rel="mask-icon"
    href="/public/safari-pinned-tab.svg"
    color="#5bbad5">
  <link rel="shortcut icon" href="/public/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/public/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,800;1,400;1,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/styles/styles.css" />
</head>