<section class="hero is-small bg-squares">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="title-box">
        <h1 class="title">{{ title }}</h1>
        <p class="subtitle">{{ description }}</p>
      </div>
    </div>
  </div>
</section>