<style>
  @media only screen and (max-width: 600px) {
    .navbar-items {
      display: flex;
      justify-content: center;
    }
    .navbar-brand {
      display: flex;
      justify-content: center;
    }
  }
</style>

<div class="hero-head bg-squares">
  <nav
    class="navbar bg-squares"
    role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item nav-logo" href="/">
        Patrick Lee
      </a>
    </div>

    <div class="bg-squares">
      <div class="navbar-items navbar-end">
        <a class="navbar-item" href="/blog">
          Writing
        </a>

        <a class="navbar-item" href="/about">
          About
        </a>

        <a class="navbar-item" href="/uses">
          Uses
        </a>
      </div>
    </div>
  </nav>
</div>