<div class="hero-head bg-squares">
  <nav
    class="navbar bg-squares"
    role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1>Patrick Lee</h1>
      </a>

      <a
        role="button"
        class="navbar-burger"
        data-target="navMenu"
        aria-label="menu"
        aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navMenu" class="navbar-menu bg-squares">
      <div class="navbar-end">
        <a class="navbar-item" href="/blog">
          Blog
        </a>

        <a class="navbar-item" href="/about">
          About
        </a>
      </div>
    </div>
  </nav>
</div>